.godot/
/android/

/builds/
/export/
export_credentials.cfg

.DS_Store

*.gb
*.gbc
*.gba
*.sav
*.srm
*.rom
*.ips
*.bps
*.ups

/roms/*
!/roms/README.md
!/roms/.gdignore

/user_cache/
/rom_cache/

/artifacts/

/.references/

/ios/plugins/*/*.a

/addons/android_native/bin/
*.keystore
